$("div[id*=<%= @cupping_break_aroma.sample.id %>]").find("form[id*=break_aroma]").before('<div id="break-aroma-show"><b>Break Aroma:</b> Score: <%= @cupping_break_aroma.score %><% if @cupping_break_aroma.intensity.present? %> Intensity: <%= @cupping_break_aroma.intensity %><% end %><% if @cupping_break_aroma.notes.present? %> Notes: <%= @cupping_break_aroma.notes %><% end %><%= link_to 'Re-do', @cupping_break_aroma, :method => :delete, :remote => true %></div>');

$("div[id*=<%= @cupping_break_aroma.sample.id %>]").find("form[id*=break_aroma]").hide();

$("div[id*=<%= @cupping_break_aroma.sample.id %>]").find("div[id=total]").html("<b>Total Score:</b> <%= @cupping_total_score.score %>");

// alert("Ajax!!")