$("section[id*=<%= @cupping_defect.sample.id %>]").find("form[id*=defect]").before('<section id="defects-show"><h1>Defects:</h1>Score: <%= @cupping_defect.score %><br><%= button_to 'Re-do', @cupping_defect, :method => :delete, :remote => true, :class => "button" %></section>');

$("section[id*=<%= @cupping_defect.sample.id %>]").find("form[id*=defect]").hide();

$("section[id*=<%= @cupping_defect.sample.id %>]").find("section[id=total]").html("<h1>Total Score: <%= @cupping_total_score.score %></h1>");

// alert("Ajax!!")