<section class="section inline clearfix">
	<%= form_for(@farm) do |f| %>
	  <% if @farm.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@farm.errors.count, "error") %> prohibited this farm from being saved:</h2>
	      <ul>
	      <% @farm.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<%= f.text_field :name, :placeholder => "of the farm." %>
		<%= f.label :name %>
		<%= f.collection_select :country, Farm::COUNTRIES, :to_s, :to_s, :include_blank => true %>
		<%= f.label :country, "Country" %>
		<%= f.text_field :region, :placeholder => "of the country selected." %>
		<%= f.label :region %>
		<%= f.text_field :farmer, :placeholder => "involved in the farm." %>
		<%= f.label :farmer, "Humans" %>
		<%= f.text_field :elevation, :placeholder => "or elevation's." %>
		<%= f.label :elevation %>
		<%= f.label :description %>
		<%= f.text_area :description, :rows => 5, :placeholder => "The story of the farmers." %>
		<% if params[:roast_id] %>
			<%= hidden_field_tag :roast_id, params[:roast_id] %>
		<% end %>
		<% if params[:batch_id] %>
			<%= hidden_field_tag :batch_id, params[:batch_id] %>
		<% end %>
	  <%= f.submit "Save", :class => "button"  %>
	<% end %>
</section>