<header>
	<%= link_to "Home", root_url %>
</header>
<% if can? :create, Farm %>
	<section>
		<%= link_to 'New Producer', new_farm_path %>
	</section>
<% end %>
<section>
	<h1>Producers</h1>
	<% @farms.each do |farm| %>
		<%= link_to farm.name_and_country, farm %><br>
	<% end %>
</section>
<% if current_user.nil? %>
	<footer>
		<nav>
			<%= link_to "Log In", root_url %>
			<menu>
				<%= link_to 'Roasteries', roasteries_url %>
			</menu>
		</nav>
	</footer>
<% end %>