<header class="clearfix">
	<h1>Producer</h1>
	<% if can? :create, Bean %>
		<%= link_to "Back", farms_path, :class => "leftbutton" %>
		<%= link_to 'New Bean', new_bean_path(:farm_id => @farm.id), :class => "rightbutton" %>
	<% else %>
		<%= link_to "Back", farms_path, :class => "button" %>
	<% end %>
</header>
<h2><%= @farm.name.titleize %></h2>
<% if @beans.present? %>
	<section class="sectionlist">
		<h2>Beans Produced</h2>
		<section>
			<% @beans.each do |bean| %>
				<p>
					<% if can? :update, bean %>
						<%= link_to 'Edit', edit_bean_path(bean), :class => "redlink"  %>
					<% end %>
					<%= bean.variety %>
					<% if bean.harvest_start.present? or bean.harvest_end.present? %>
						Harvested -
						<% if bean.harvest_start.present? %>
						 	<%= bean.harvest_start %>
						<% end %>
						<% if bean.harvest_end.present? %>
						 	through <%= bean.harvest_end %>
						<% end %>
					<% end %>
				</p>
			<% end %>
		</section>
	</section>
<% end %>
<% if @farm.region.present? || @farm.farmer.present? || @farm.elevation.present? || @farm.description.present? %>
	<section class="section">
		<h2>Details</h2>
			<% if can? :update, @farm %>
				<%= link_to 'Edit', edit_farm_path(@farm), :class => "redlink_section"  %>
			<% end %>
			<% if @farm.country.present? %>
		  	<h2>Country</h2> 
				<p><%= @farm.country %></p>
			<% end %>
			<% if @farm.region.present? %>
		  	<h2>Region</h2> 
				<p><%= @farm.region.titleize %></p>
			<% end %>
			<% if @farm.farmer.present? %>
				<h2>Humans involved</h2> 
				<p><%= @farm.farmer.camelcase %></p>
			<% end %>
			<% if @farm.elevation.present? %>	
			  <h2>Elevation</h2> 
				<p><%= @farm.elevation %></p>
			<% end %>
			<% if @farm.description.present? %>
			  <h2>Description</h2> 
				<p><%= @farm.description.camelcase %></p>
			<% end %>
	</section>
<% end %>

<% if current_user && current_user.admin?  || @farm.is_padmin?(current_user) %>
	<section class="sectionlist">
		<h2>Producer Admins</h2>
		<%= render 'producer_admins/form' %>
		<%= render 'producer_admins/list' %>
	</section>
<% end %>
<% if current_user.nil? %>
	<footer>
		<nav>		
			<div><%= link_to "Log In	", root_url %></div>
			<div><%= link_to 'Roasteries', roasteries_url %></div>
			<div><%= link_to 'About', about_path %></div>
		</nav>
	</footer>
<% end %>
