<% if current_user %>

	<h1>Your recent Cuppings</h1>
	<% @cuppings.each do |cupping| %>
	<p>
		<%= link_to cupping.created_at.to_s(:long), cupping %> 
		<% Sample.where(:cupping_id => cupping.id).each do |samp| %>
			<% if samp.sample_number.present? %>
				Sample #<%= samp.sample_number %>.
			<% end %>
			<% Batch.where(:id => samp.batch_id).each do |batch| %>
				<% if batch.roast.name.present? %>
					Roast: <%= batch.roast.name %>
				<% end %>
				<% if batch.roast.roastery.name.present? %>
					 from <%= batch.roast.roastery.name %>.
				<% end %>
			<% end %>				
			<% CuppingTotalScore.where(:sample_id => samp.id).each do |total| %>
				<% if total.score.present? %>
					Total score:	<%= total.score %>
				<% end %>
			<% end %>
		<br>
		<% end %>
	</p>
	<% end %>


	<h1>Roastery admin for</h1>
	<% @adminFor.each do |ra| %>
	<%= link_to ra.roastery.name, roastery_path(:id => ra.roastery.id) %> | <%= link_to 'Remove', ra, :confirm => 'Are you sure?', :method => :delete %><br>
	<% end %>
	
	<h1>Roaster for</h1>
	<% @roasterFor.each do |r| %>
	<%= link_to r.roastery.name, roastery_path(:id => r.roastery.id) %> | <%= link_to 'Remove', r, :confirm => 'Are you sure?', :method => :delete %><br>
	<% end %>

<% else %>

You are not logged in.
<% end %>