
<h1>Listing producers</h1>
<p>
	<%= link_to 'New Producer', new_farm_path %>
</p>
<table>
  <tr>
    <th>The bean producer</th>
    <th>Humans involved</th>
    <th>Country produced in</th>
    <th>Region of the country</th>
    <th>Elevation</th>
    <th>Description of the producer</th>
		<th>Varieties produced</th>
  </tr>

<% @farms.each do |farm| %>
  <tr>
    <td><%= link_to farm.name, farm %></td>
    <td><%= farm.farmer %></td>
    <td><%= farm.country %></td>
    <td><%= farm.region %></td>
    <td><%= farm.elevation %></td>
    <td><%= farm.description %></td>
		<td><%= farm.beans.where(:farm_id => farm.id).map{ |b| b.variety }.join(", ") %></td>
  </tr>
<% end %>
</table>
<hr>
<h1>Listing roasteries</h1>
<p>
	<%= link_to 'New Roastery', new_roastery_path %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Year opened</th>
    <th>Description</th>
    <th>Contact</th>
    <th></th>
    <th></th>
  </tr>

<% @roasteries.each do |roastery| %>
  <tr>
	<td><%= link_to roastery.name, roastery %></td>
    <td><%= roastery.year_opened %></td>
    <td><%= roastery.description %></td>
    <td><%= roastery.contact %></td>
  </tr>
<% end %>
</table>