<header>
	<div class="logo">
		<%= image_tag("bestcuplogo.jpg", :alt => "Logo") %>
	</div>
</header>
<section id="disclaimer">
	<p id="error_explanation">Disclaimer: This website is currently designed to look best on mobile devices.</p>
</section>
<% if current_user %>
		<% if @cuppings.present? %>
		<section class="sectionlist">
			<h2>Cuppings</h2>
			<section>
				<% @cuppings.each do |cupping| %>
						<p><%= link_to(cupping) do %>
							<%= cupping.created_at.to_date.to_formatted_s(:long_ordinal) %>
							<br><%= Sample.where(:cupping_id => cupping.id).length %> Coffees
							<% Sample.where(:cupping_id => cupping.id).each do |samp| %>
								<% Batch.where(:id => samp.batch_id).each do |batch| %>
									<br><%= batch.roast_from_roastery %>
								<% end %>				
							<% end %>
						<% end %></p>
				<% end %>
			</section>
		<% else %>
		<section class="sectionlist">
			<h2>Cuppings</h2>
			<section>
				<p>You haven't cupped any coffees.</p>
			</section>
		</section>
		<% end %>
	</section>
	<% if @padminFor.present? %>
		<section class="sectionlist">
			<h2>Farm Admin For</h2>
			<% @padminFor.each do |pa| %>
				<section>
					<p><%= link_to pa.farm.name, farm_path(:id => pa.farm.id) %></p>
				</section>
			<% end %>
		</section>
	<% end %>
	<% if @radminFor.present? %>
		<section class="sectionlist">
			<h2>Roastery Admin For</h2>
			<% @radminFor.each do |ra| %>
				<section>
					<p><%= link_to ra.roastery.name, roastery_path(:id => ra.roastery.id) %></p>
				</section>
			<% end %>
		</section>
	<% end %>
	<% if @roasterFor.present? %>
	<section class="sectionlist">
			<h2>Roaster For</h2>
			<% @roasterFor.each do |r| %>
				<section>
					<p><%= link_to r.roastery.name, roastery_path(:id => r.roastery.id) %></p>
				</section>
			<% end %>
		</section>
	<% end %>
<% else %>
	<section class="section clearfix" id="session">
		<%= render 'sessions/form' %>
	</section>
		<%= link_to "Sign Up", new_user_path, :id => "signup", :class => "button" %>
	<footer>
		<nav>
			<div><%= link_to 'Farms', farms_url %></div>
			<div><%= link_to 'Roasteries', roasteries_url %></div>
			<div><%= link_to 'About', about_path %></div>
		</nav>
	</footer>
<% end %>
