<section class="section inline clearfix">
	<h2>Details</h2>
	<%= form_for(@roastery) do |f| %>
	  <% if @roastery.errors.any? %>
	  	<div id="error_explanation">
	      <ul>
	      <% @roastery.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<%= f.text_field :name, :placeholder => "name." %> 
		<%= f.label :name, "Roastery" %>
		<% if current_user.admin? || @roastery.is_radmin?(current_user) %>
			<%= select_year(Date.today, :start_year => 2011, :end_year => 1835, :prefix => "roastery", :field_name => 'year_opened') %>
			<%= f.label :year_opened %>
			<%= f.url_field :website, :placeholder => "http://" %>
			<%= f.label :website %>
			<%= f.label :description %>
			<%= f.text_area :description, :rows => 5, :placeholder => "The story of the roasters." %>
		<% end %>
	  <%= f.submit "Save", :class => "button"  %>
	<% end %>
</section>