<header>
	<%= link_to "Home", root_url %>
</header>
<% if can? :create, Roastery %>
	<section>
		<%= link_to 'New Roastery', new_roastery_path %>
	</section>
<% end %>
<section>
	<h1>Roasteries</h1>
	<% @roasteries.each do |roastery| %>
		<p>
			<%= link_to roastery.name.titleize, roastery %>
		</p>
	<% end %>
</section>
<% if current_user.nil? %>
	<footer>
		<nav>
			<%= link_to "Log In", root_url %>
			<menu>
				<%= link_to 'Producers', farms_url %>
			</menu>
		</nav>
	</footer>
<% end %>