<header>
	<h1>Roasteries</h1>
</header>
<% if can? :create, Roastery %>
	<%= link_to 'New Roastery', new_roastery_path, :class => "button"  %>
<% end %>
<section class="list">
	<% @roasteries.each do |roastery| %>
		<p>
			<%= link_to roastery.name.titleize, roastery %>
		</p>
	<% end %>
</section>
<% if current_user.nil? %>
	<footer>
		<nav>
			<div><%= link_to "Log In", root_url %></div>
			<div><%= link_to 'Farms', farms_url %></div>
			<div><%= link_to 'About', about_path %></div>
		</nav>
	</footer>
<% end %>