<header>
	<h1>Roastery</h1>
	<% if can? :create, Roast %>
		<%= link_to "Back", roasteries_path, :class => "leftbutton"  %>
		<%= link_to 'New Roast', new_roast_path(:roastery_id => @roastery.id), :class => "rightbutton" %>
	<% else %>
		<%= link_to "Back", roasteries_path, :class => "button" %>
	<% end %>
</header>
<h2><%= @roastery.name.titleize %></h2>
<% if @roasts.present? %>
	<section class="sectionlist">
		<h2>Roasts</h2>
		<section>
		<% @roasts.each do |roast| %>
			<% if can? :read, Roast %>
				<p><%= link_to roast.name.titleize, roast %></p>
			<% else %>
				<p><%= roast.name.titleize %></p>
			<% end %>
		<% end %>
		</section>
	</section>
<% else %>
	<section class="sectionlist">
		<h2>Roasts</h2>
		<section>
			<p>No roasts have been created.</p>
		</section>
	</section>
<% end %>
<% if @roastery.year_opened.present? || @roastery.description.present? || @roastery.website.present? %>
	<section class="section">
		<h2>Details</h2>
		<% if current_user && current_user.admin? || @roastery.is_radmin?(current_user) %>
		<%= link_to 'Edit', edit_roastery_path(@roastery), :class => "redlink_section" %>
		<% end %>
		<% if @roastery.year_opened.present? %>
			<h2>Year opened</h2> 
			<p><%= @roastery.year_opened %></p>
		<% end %>
		<% if @roastery.description.present? %>
		  <h2>Description</h2> 
			<p><%= @roastery.description.camelcase %></p>
		<% end %>
		<% if @roastery.website.present? %>
		  <h2>Website</h2> 
			<p id="weblink"><%= link_to @roastery.get_host_without_www(@roastery.website).camelcase, @roastery.website %></p>
		<% end %>
	</section>
<% else %>
	<% if current_user && current_user.admin? || @roastery.is_radmin?(current_user) %>
	<section class="clearfix">
		<%= link_to 'Add Details', edit_roastery_path(@roastery), :class => "redlink_section" %>
	</section>
	<% end %>
<% end %>
<% if current_user && current_user.admin?  || @roastery.is_radmin?(current_user) %>
	<section class="sectionlist">
			<h2>Roasters</h2>
			<%= render 'roasters/form' %>
			<%= render 'roasters/list' %>
	</section>
	
	
	<section class="sectionlist">
		<h2>Roastery Admins</h2>
		<%= render 'roastery_admins/form' %>
		<%= render 'roastery_admins/list' %>
	</section>
	
	
<% end %>
<% if current_user.nil? %>
	<footer>
		<nav>
			<div><%= link_to "Log In", root_url %></div>
			<div><%= link_to 'Farms', farms_url %></div>
			<div><%= link_to 'About', about_path %></div>
		</nav>
	</footer>
<% end %>