$("div[id*=<%= @cupping_overall.sample.id %>]").find("form[id*=overall]").before('<div id="overall-show"><b>Overall:</b> Score: <%= @cupping_overall.score %><%= link_to 'Re-do', @cupping_overall, :method => :delete, :remote => true %></div>');

$("div[id*=<%= @cupping_overall.sample.id %>]").find("form[id*=overall]").hide();

$("div[id*=<%= @cupping_overall.sample.id %>]").find("div[id=total]").html("<b>Total Score:</b> <%= @cupping_total_score.score %>");

// alert("Ajax!!")