$("section[id*=<%= @cupping_overall.sample.id %>]").find("form[id*=overall]").before('<section id="overall-show"><h1>Overall:</h1>Score: <%= @cupping_overall.score %><br><%= button_to 'Re-do', @cupping_overall, :method => :delete, :remote => true, :class => "button" %></section>');

$("section[id*=<%= @cupping_overall.sample.id %>]").find("form[id*=overall]").hide();

$("section[id*=<%= @cupping_overall.sample.id %>]").find("section[id=total]").html("<h1>Total Score: <%= @cupping_total_score.score %></h1>");

// alert("Ajax!!")