<% if current_user.admin? %>
	<header class="clearfix">
	<h1>Account</h1>
	<%= link_to 'Back', users_url, :class => "leftbutton" %>
	<%= link_to "Home", root_url, :class => "rightbutton"  %>
	</header>
<% else %>
	<header>
		<h1>Account</h1>
		<%= link_to "Home", root_url, :class => "button"  %>
	</header>
<% end %>


<%= render 'form' %>


<% if @padminFor.present? %>
	<section class="section">
		<h2>Producer Admin For</h2>
		<% @padminFor.each do |p| %>
			<section>
				<p><h2><%= p.farm.name %></h2>
				<%= button_to 'Remove your self.', p, :confirm => 'Are you sure?', :method => :delete, :class => "button" %></p>
			</section>
		<% end %>
	</section>
<% end %>
<% if @radminFor.present? %>
	<section class="section">
		<h2>Roastery Admin For</h2>
		<% @radminFor.each do |r| %>
			<section>
				<p><h2><%= r.roastery.name %></h2>
				<%= button_to 'Remove your self.', r, :confirm => 'Are you sure?', :method => :delete, :class => "button" %></p>
			</section>
		<% end %>
	</section>
<% end %>
<% if @roasterFor.present? %>
	<section class="section">
		<h2>Roaster For</h2>
		<% @roasterFor.each do |r| %>
			<section>
				<p><h2><%= r.roastery.name %></h2>
				<%= button_to 'Remove your self.', r, :confirm => 'Are you sure?', :method => :delete, :class => "button" %></p>
			</section>
		<% end %>
	</section>
<% end %>
<section>
	<%= button_to 'Destroy your Account', @user, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
</section>