<header>
	<div class="logo">
		<%= image_tag("bestcuplogo.jpg", :alt => "Logo") %>
	</div>
</header>
<section class="section clearfix" id="session">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
			    <div id="error_explanation">
			      <% @user.errors.full_messages.each do |msg| %>
							<%= msg %>.<br>
						<% end %>
			    </div>
			  <% end %>
		  <%= f.text_field :username %>
	    <%= f.label :username, "User" %>
	    <%= f.email_field :email %>
	    <%= f.label :email %>
	    <%= f.password_field :password %>
	    <%= f.label :password, "Pass." %>
	    <%= f.password_field :password_confirmation %>
	    <%= f.label :password_confirmation, "Pass. Confirmation" %>
	    <%= f.submit "Sign Up", :class => "button" %>
	<% end %>
</section>
<%= link_to "Back", root_url, :class => "button", :id => "signup" %>
<footer>
	<nav>
		<div><%= link_to 'Farms', farms_url %></div>
		<div><%= link_to 'Roasteries', roasteries_url %></div>
		<div><%= link_to 'About', about_path %></div>
	</nav>
</footer>