<header>
	<div class="logo">
		<%= image_tag("bestcuplogo.jpg", :alt => "Logo") %>
	</div>
</header>
<section class="section" id="session">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
			    <div id="error_explanation">
			      <% @user.errors.full_messages.each do |msg| %>
							<%= msg %>.<br>
						<% end %>
			    </div>
			  <% end %>
	    <%= f.label :email %>
	    <%= f.email_field :email %>
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	    <%= f.submit "Sign Up", :class => "button" %>
	<% end %>
</section>
<%= link_to "Back", root_url, :class => "button" %>
<footer>
	<nav>
		<div><%= link_to 'Producers', farms_url %></div>
		<div><%= link_to 'Roasteries', roasteries_url %></div>
	</nav>
</footer>