<section>
	<% @blends.each do |bl| %>
		<p>
			<%= link_to 'Edit', edit_blend_path(bl), :class => "redlink"  %>
			<% if bl.weight.present? %>
			<%= bl.weight %> pounds of 
			<% end %>
			<%= bl.bean.variety %> from <%= bl.bean.farm.name %>. 
			<% if bl.lot_number.present? %>
				Lot number <%= bl.lot_number %>. 
			<% end %>
		</p>
	<% end %>
</section>