<header>
	<h1>Cuppings</h1>
	<%= link_to "Home", root_url, :class => "button" %>
</header>
<section>
	<% if @cuppings.present? %>
		<% @cuppings.each do |cupping| %>
			<section class="cupping">
				<%= link_to(cupping) do %>
					<h1><%= cupping.created_at.to_date.to_formatted_s(:long_ordinal) %></h1>
				  <h2><%= Sample.where(:cupping_id => cupping.id).length %> Sample Cupping</h2>
					<% Sample.where(:cupping_id => cupping.id).each do |samp| %>
						<% Batch.where(:id => samp.batch_id).each do |batch| %>
							<p><%= batch.roast_from_roastery %></p>
						<% end %>				
					<% end %>
				<% end %>
			</section>
		<% end %>
	<% else %>
	You haven't cupped any coffees.
	<% end %>
	
	
	<!-- <% if @cuppings.present? %>
		<% @cuppings.each do |cupping| %>
			<section class="cupping">
				<h2><%= link_to cupping.created_at.to_date.to_formatted_s(:long_ordinal), cupping %></h2>
				<p>
					<%= Sample.where(:cupping_id => cupping.id).length %> Sample Cupping
				<p>
				<% Sample.where(:cupping_id => cupping.id).each do |samp| %>
					<% Batch.where(:id => samp.batch_id).each do |batch| %>
						<%= Sample.where(:cupping_id => cupping.id, :batch_id => batch.id).length %>
						<%= link_to batch.roast_from_roastery, batch.roast %>
						- <%= batch.roasted_on.to_formatted_s(:long_ordinal) %><br>
					<% end %>				
				<% end %>
			</section>
		<% end %>
	<% else %>
	You haven't cupped any coffees.
	<% end %> -->
</section>