<h1>New cupping <% if params[:roast_id] %> of <%= @roast.name%> roasted on <%= @roast.roasted_on%> from <%= @roast.roastery.name%><% end %>
</h1>

<%= render 'form' %>

<%= link_to 'Back', cuppings_path %>
