<% if can? :update, Cupping %>
	<header>
		<%= link_to "Home", root_url, :class => "leftbutton" %>
		<%= link_to 'Edit Samples', edit_cupping_path(@cupping), :class => "rightbutton"  %>
	</header>
<% else %>
	<header>
		<%= link_to "Home", root_url, :class => "button" %>
	</header>
<% end %>
<section>
	<h2><%= @cupping.created_at.to_date.to_formatted_s(:long_ordinal) %></h2>
</section>
<noscript><p>These forms are designed to work best with JavaScript.<p></noscript>
	
<%= render :partial => "samples/sample",
           :collection => @cupping.samples %>