<section  class="section">
	<%= form_for(@roast) do |f| %>
	  <% if @roast.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@roast.errors.count, "error") %> prohibited this roast from being saved:</h2>
	      <ul>
	      <% @roast.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>	
		<% if @roastery.present? %>
			<h1><%= @roastery.name.titleize %></h1>
			<%= f.hidden_field :roastery_id, :value => @roastery.id %>
		<% else %>
			<%= f.label :roastery_id %>
		  <%= f.collection_select(:roastery_id, Roastery.find(:all), :id, :name, :prompt => true)%> Not on the list? <%= link_to 'New Roastery', new_roastery_path() %>
		<% end %>	
	  <%= f.label :name, "Roast Name:" %>
	  <%= f.text_field :name %>
		<% if current_user.admin? || @roastery.is_radmin?(current_user) %>
			<%= f.label :description %>
			<%= f.text_area :description, :rows => 8 %>
		<% end%>
	  <%= f.submit "Save", :class => "button"  %>
	<% end %>
</section>