<h1>Show Roast</h1>
<p>
  <b>Name:</b> <%= @roast.name %><br>
	<%= link_to 'Edit', edit_roast_path(@roast) %>
</p>
<h1>New batch</h1>

<%= render 'batches/form' %>
<% @batches.each do |batch| %>
	<%= link_to batch.roasted_on.to_s(:long), batch %> Batch #<%= batch.batch_number %> 
	<br>
<% end %>




<p>
	<%= link_to(@roastery) do %>
		Back to <%= @roastery.name %>
	<% end %>
</p>
