<header>
	<%= link_to "Back", roastery_path(@roastery) %>
</header>
<section>
	<h1><%= @roastery.name.titleize %> | <%= @roast.name.titleize %></h1>
	<% if @roast.description.present?%>
	<p><%= @roast.description.camelcase %></p>
	<% end %>
	<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
			<%= link_to 'Edit', edit_roast_path(@roast) %>
	<% end %>
</section>
<section>
	<h1>New Batch</h1>
	<%= render 'batches/form' %>
</section>
<% if @batches.present? %>
	<section>
		<h1>Batches</h1>
		<% @batches.each do |batch| %>
			<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
				<p>
					<%= link_to batch.roasted_on.to_date.to_formatted_s(:long_ordinal), batch %> Batch #<%= batch.batch_number %> <%= link_to 'Remove', batch, :confirm => 'Are you sure?', :method => :delete %>
				</p>
			<% else %>
				<p>
					<%= batch.roasted_on.to_s(:long) %> Batch #<%= batch.batch_number %>
				</p>
			<% end %>
		<% end %>
	</section>
<% end %>