<header>
	<h1>Roast</h1>
	<%= link_to "Back", roastery_path(@roastery), :class => "button" %>
</header>
<h2><%= @roast.name.titleize %></h2>
<section class="section">
	<h2>Details</h2>
	<% if current_user && current_user.admin? || @roastery.is_radmin?(current_user) %>
		<%= link_to 'Edit', edit_roast_path(@roast), :class => "redlink_section" %>
	<% end %>	
	<% if @roastery.name.present?%>
		<h2>Roastery</h2>
		<p><%= @roastery.name.titleize %></p>
	<% end %>
	<% if @roast.description.present?%>
		<h2>Description</h2>
		<p><%= @roast.description.camelcase %></p>
	<% end %>	
</section>
<section class="section batch">
	<h2>New Batch</h2>
	<%= render 'batches/form' %>
</section>
<% if @batches.present? %>
	<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
		<section class="sectionlist">
			<h2>Batches</h2>
			<section>
			<% @batches.each do |batch| %>
				<p>
					<%= link_to 'Remove', batch, :confirm => 'Are you sure?', :method => :delete, :class => "removebutton" %><%= link_to batch.roasted_on.to_date.to_formatted_s(:long_ordinal), batch %>Batch #<%= batch.batch_number %>
				</p>
			<% end %>
			</section>
		</section>
	<% else %>
		<section class="sectionlist">
			<h2>Batches</h2>
			<section>
			<% @batches.each do |batch| %>
				<p>
					<%= batch.roasted_on.to_s(:long) %> Batch #<%= batch.batch_number %>
				</p>
			<% end %>
			</section>
		</section>
	<% end %>
<% end %>