$("section[id*=<%= @cupping_crust_aroma.sample.id %>]").find("form[id*=crust_aroma]").before('<section id="crust-aroma-show"><h1>Crust Aroma:</h1> Score: <%= @cupping_crust_aroma.score %><% if @cupping_crust_aroma.intensity.present? %><br>Intensity: <%= @cupping_crust_aroma.intensity %><% end %><% if @cupping_crust_aroma.notes.present? %><br>Notes: <%= @cupping_crust_aroma.notes %><% end %><br><%= button_to 'Re-do', @cupping_crust_aroma, :method => :delete, :remote => true, :class => "button" %></section>');

$("section[id*=<%= @cupping_crust_aroma.sample.id %>]").find("form[id*=crust_aroma]").hide();

$("section[id*=<%= @cupping_crust_aroma.sample.id %>]").find("section[id=total]").html("<h1>Total Score: <%= @cupping_total_score.score %></h1>");

// alert("Ajax!!")
