$("section[id*=<%= @cupping_crust_aroma.sample.id %>]").find("form[id*=crust_aroma]").before('<section id="cupping_crust_aroma_<%= @cupping_crust_aroma.id %>"><%= button_to 'Re-do', @cupping_crust_aroma, :method => :delete, :remote => true, :class => "redo"%><h2># <%= @cupping_crust_aroma.sample.sample_number %></h2><p>Score: <%= @cupping_crust_aroma.score %></p><% if @cupping_crust_aroma.intensity.present? %><p>Intensity: <%= @cupping_crust_aroma.intensity %></p><% end %><% if @cupping_crust_aroma.notes.present? %><p>Notes: <%= @cupping_crust_aroma.notes %></p><% end %></section>');
$("section[id*=<%= @cupping_crust_aroma.sample.id %>]").find("form[id*=crust_aroma]").hide();
$("section[id*=<%= @cupping_crust_aroma.sample.id %>]").find("section[id=total]").html("<h2>Total Score: <%= @cupping_total_score.score %></h2>");



// alert("Ajax!!")
