<section class="section inline clearfix">
	<% if @farm.present? %>
	<h2><%= @farm.name.titleize %></h2>
	<% end %>
	<%= form_for(@bean) do |f| %>
	  <% if @bean.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@bean.errors.count, "error") %> prohibited this bean from being saved:</h3>
	      <ul>
	      <% @bean.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<% if @farm.present? %>
			<%= f.hidden_field :farm_id, :value => @farm.id %>
		<% else %>
		  <%= f.collection_select(:farm_id, Farm.find(:all), :id, :name, :prompt => true)%>
			<%= f.label :farm_id %>
		<% end %>
	  <%= f.collection_select :variety, Bean::VARIETALS, :to_s, :to_s, :prompt => true %>
		<%= f.label :variety %>
	  <%= f.collection_select :harvest_start, Bean::MONTHS, :to_s, :to_s, :include_blank => true %>
	  <%= f.label :harvest_start %>
	  <%= f.collection_select :harvest_end, Bean::MONTHS, :to_s, :to_s, :include_blank => true %>
	  <%= f.label :harvest_end %>
		<% if params[:batch_id] %>
			<%= hidden_field_tag :batch_id, params[:batch_id] %>
		<% end %>
		<% if params[:roast_id]%>
			<%= hidden_field_tag :roast_id, params[:roast_id] %>
		<% end %>
	  <%= f.submit "Save", :class => "button"  %>
	<% end %>
</section>