<% if @batch.blank? %>
	<header class="clearfix">
		<h1>Bean</h1>
		<%= link_to "Back", farm_path(@farm), :class => "button" %>
	</header>
<% end %>
<% if @farm.blank? %>
	<header class="clearfix">
		<h1>Bean</h1>
		<%= link_to "Back", new_blend_path(:batch_id => @batch.id, :roast_id => @roast.id), :class => "button" %>
		<%= link_to 'Farm not on the list', new_farm_path(:batch_id => @batch.id, :roast_id => @roast.id), :class => "redlink"  %>
	</header>
<% end %>
<% if @farm.present? && @batch.present? %>
	<header class="clearfix">
		<h1>Bean</h1>
		<%= link_to "Back", new_farm_path(:batch_id => @batch.id, :roast_id => @roast.id), :class => "button" %>
	</header>
<% end %>



<%= render 'form' %>