<h1>Show Bean</h1>
<h3>Bean:</h3>
<p>
	<b>Producer:</b> <%= @bean.farm.name %><br>
  <b>Variety:</b> <%= @bean.variety %><br>
  <b>Harvest start:</b> <%= @bean.harvest_start %><br>
  <b>Harvest end:</b> <%= @bean.harvest_end %><br>
	<%= link_to 'Edit', edit_bean_path(@bean) %>
</p>
<% if @blends.present? %>
<b>Roasts this bean is in:</b>
<% end %>
<% @blends.each do |bl| %>	
	<table>
	  <tr>
			<td><b><%= bl.roast.name %></b></td>
			<td>from <b><%= bl.roast.roastery.name %></b></td>
		</tr>
	</table>
<% end %>
<footer>
	<%= link_to(@farm) do %>
		Back to <%= @farm.name %>
	<% end %>
</footer>