<section class="attributesample" id="cupping_dry_fragrance_<%= cupping_dry_fragrance.id %>">
	<%= button_to 'Re-do', cupping_dry_fragrance, :method => :delete, :remote => true, :class => "redo"%>
	<h2># <%= cupping_dry_fragrance.sample.sample_number %></h2>
		<p>Score: <%= cupping_dry_fragrance.score %></p>
	<% if cupping_dry_fragrance.intensity.present? %>
		<p>Intensity: <%= cupping_dry_fragrance.intensity %></p>
	<% end %>
	<% if cupping_dry_fragrance.notes.present? %>
		<p>Notes: <%= cupping_dry_fragrance.notes %></p>
	<% end %>
</section>