$("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("form[id*=dry_fragrance]").before('<section id="dry-fragrance-show"><h1>Dry Fragrance:</h1>Score: <%= @cupping_dry_fragrance.score %><% if @cupping_dry_fragrance.intensity.present? %><br>Intensity: <%= @cupping_dry_fragrance.intensity %><% end %><% if @cupping_dry_fragrance.notes.present? %><br>Notes: <%= @cupping_dry_fragrance.notes %><% end %><br><%= button_to 'Re-do', @cupping_dry_fragrance, :method => :delete, :remote => true %></section>');

$("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("form[id*=dry_fragrance]").hide();

$("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("section[id=total]").html("<h1>Total Score:</h1> <%= @cupping_total_score.score %>");



// alert("Ajax!!")