if ($("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("form[id*=dry_fragrance]").length > 0){
	$("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("form[id*=dry_fragrance]").show();

	$("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("section[id*=dry-fragrance]").hide();
}

else {
	location.reload()
}

$("section[id*=<%= @cupping_dry_fragrance.sample.id %>]").find("section[id=total]").html("<h1>Total Score:</h1> <%= @cupping_total_score.score %>");



// alert("Ajax!!")

// .css({background:"yellow", border:"3px red solid"})