<header>
	<h1>After Tastes</h1>

	<%= link_to 'Back', totalupdate_path(:id => @cupping_total_score.id), :class => "button"  %>	
</header>
<section class="cuppingattributes">
		<% @cupping_after_tastes.each do |cupping_after_taste| %>
		  <section class="attributesample clearfix" id="<%=cupping_after_taste.id%>">
			<%= button_to 'Remove', cupping_after_taste, :method => :delete, :remote => true, :class => "redo" %>
		  Score: <%= cupping_after_taste.score %>
			<br>Notes: <%= cupping_after_taste.notes %>
			</section>
		<% end %>
</section>