<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
<header>
	<h1>Batch</h1>
	<%= link_to 'Back', roast_path(@roast), :class => "leftbutton" %>
	<%= link_to 'Add a Bean', new_blend_path(:roast_id => @roast.id, :batch_id => @batch.id), :class => "rightbutton" %>
</header>
<% else %>
<header>
	<h1>Batch</h1>
	<%= link_to 'Back', roast_path(@roast), :class => "button" %>
</header>
<% end %>
<h2><%= @roastery.name.titleize %></h2>
<h2><%= @roast.name.titleize %></h2>
<h3><%= @batch.batch_number.to_i.ordinalize %> batch from <%= @batch.roasted_on.to_date.to_formatted_s(:long_ordinal) %></h3>
<% if @blends.present? %>
<section class="sectionlist">
		<h2>Beans</h2>
		<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
			<%= render 'blends/list' %>
		<% end %>
	</section>
	<section class="section clearfix">
		<h2>Stopwatch</h2>
		<div id="clock1"></div>
		<noscript>JavaScript required for stopwatch.</noscript>
	</section>
	<section class="sectionlist">
		<h2>Checks</h2>
		<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
				<%= render 'checks/form' %>
				<% if @checks.present? %>
				<%= render 'checks/list' %>
				<% end %>
		<% end %>
	</section>
<% end %>
<script type="text/javascript">$(function() {$('#clock1').stopwatch();});</script>