<header>
	<%= link_to 'Back', roast_path(@roast) %>
</header>
<section>
	<h1><%= @roastery.name.titleize %> | <%= @roast.name.titleize %></h1>
	<h2><%= @batch.batch_number.to_i.ordinalize %> batch from <%= @batch.roasted_on.to_date.to_formatted_s(:long_ordinal) %></h2>
</section>
<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
<%= link_to 'Add a Bean', new_blend_path(:roast_id => @roast.id, :batch_id => @batch.id), :confirm => 'Leaving this page will reset the Stopwatch'  %>
<% end %>

<% if @blends.present? %>
	<section>
		<h1>Beans</h1>
		<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
			<%= render 'blends/list' %>
		<% end %>
	</section>
	<section>
		<h1>Stopwatch</h1>
		<div id="clock1"></div>
		<noscript>JavaScript required for stopwatch.</noscript>
	</section>
	<section>
		<h1>Checks</h1>
		<% if current_user.admin? || @roastery.is_radmin?(current_user) || @roastery.is_roaster?(current_user) %>
				<%= render 'checks/form' %>
				<%= render 'checks/list' %>
		<% end %>
	</section>
<% end %>
<script type="text/javascript">$(function() {$('#clock1').stopwatch();});</script>