if ($("section[id*=<%= @cupping_clean_cup.sample.id %>]").find("form[id*=clean_cup]").length > 0){
	$("section[id*=<%= @cupping_clean_cup.sample.id %>]").find("form[id*=clean_cup]").show();

	$("section[id*=<%= @cupping_clean_cup.sample.id %>]").find("section[id*=clean_cup]").hide();
}

else {
	location.reload()
}

$("section[id*=<%= @cupping_clean_cup.sample.id %>]").find("section[id=total]").html("<h2>Total Score: <%= @cupping_total_score.score %></h2>");


// alert("Ajax!!")