<section>
	<%= form_for(@check, :remote => true) do |f| %>
	  <% if @check.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@check.errors.count, "error") %> prohibited this check from being saved:</h2>
	      <ul>
	      <% @check.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
			<%= f.hidden_field :batch_id, :value => @batch.id %>
	    <%= f.label :milestones, "Type" %>
			<%= f.collection_select :milestones, Check::MILESTONES,
	     :to_s, :to_s %><br>
	    <%= f.label :time, "Min." %>
	    <%= f.select :time, options_for_select((0..20).to_a.map{|s| ["#{s}", s]}, :selected => @check.time)%><br>
	    <%= f.label :temp, "Temp." %>
	    <%= f.number_field :temp %>ยบ<br>
	    <%= f.label :gas_flow %>
			<%= f.collection_select :gas_flow, Check::GAS,
	     :to_s, :to_s, :include_blank => true %><br>
	    <%= f.label :air_flow %>
	    <%= f.text_field :air_flow %><br>
	    <%= f.submit %>
	<% end %>
</section>