<section class="list_checks">
	<% @checks.each do |ch| %>
		<p>
			<%= link_to 'Edit', edit_check_path(ch), :class => "redlink" %>
			<%= ch.milestones %> @ <%= ch.time %> minutes.
			<% if ch.temp.present? %>
				<br>Temp: <%= ch.temp %> degrees.
			<% end %>	
			<% if ch.gas_flow.present? %>
				<br>Gas flow: <%= ch.gas_flow %>
			<% end %>
			<% if ch.air_flow.present? %> 
				<br>Air flow: <%= ch.air_flow %>.
			<% end %>
		</p>
	<% end %>
</section>