<section class="attributesample" id="cupping_mouthfeel_<%= cupping_mouthfeel.id %>">
	<%= button_to 'Re-do', cupping_mouthfeel, :method => :delete, :remote => true, :class => "redo"%>
	<h2># <%= cupping_mouthfeel.sample.sample_number %></h2>
		<p>Score: <%= cupping_mouthfeel.score %></p>
		<% if cupping_mouthfeel.weight.present? %>
			<p>Weight: <%= cupping_mouthfeel.weight %></p>
		<% end %>
</section>
