$("section[id*=<%= @cupping_mouthfeel.sample.id %>]").find("form[id*=mouthfeel]").before('<section id="mouthfeel-show"><h1>Mouthfeel:</h1>Score: <%= @cupping_mouthfeel.score %><% if @cupping_mouthfeel.weight.present? %><br>Weight: <%= @cupping_mouthfeel.weight %><% end %><br><%= button_to 'Re-do', @cupping_mouthfeel, :method => :delete, :remote => true, :class => "button" %></div>');

$("section[id*=<%= @cupping_mouthfeel.sample.id %>]").find("form[id*=mouthfeel]").hide();

$("section[id*=<%= @cupping_mouthfeel.sample.id %>]").find("section[id=total]").html("<h1>Total Score: <%= @cupping_total_score.score %></h1>");

// alert("Ajax!!")