$("div[id*=<%= @cupping_mouthfeel.sample.id %>]").find("form[id*=mouthfeel]").before('<div id="mouthfeel-show"><b>Mouthfeel:</b> Score: <%= @cupping_mouthfeel.score %><% if @cupping_mouthfeel.weight.present? %> Weight: <%= @cupping_mouthfeel.weight %><% end %> <%= link_to 'Re-do', @cupping_mouthfeel, :method => :delete, :remote => true %></div>');

$("div[id*=<%= @cupping_mouthfeel.sample.id %>]").find("form[id*=mouthfeel]").hide();

$("div[id*=<%= @cupping_mouthfeel.sample.id %>]").find("div[id=total]").html("<b>Total Score:</b> <%= @cupping_total_score.score %>");

// alert("Ajax!!")