$("div[id*=<%= @cupping_uniformity.sample.id %>]").find("form[id*=uniformity]").before('<div id="uniformity-show"><b>Uniformity:</b> Score: <%= @cupping_uniformity.score %> <%= link_to 'Re-do', @cupping_uniformity, :method => :delete, :remote => true %></div>');

$("div[id*=<%= @cupping_uniformity.sample.id %>]").find("form[id*=uniformity]").hide();

$("div[id*=<%= @cupping_uniformity.sample.id %>]").find("div[id=total]").html("<b>Total Score:</b> <%= @cupping_total_score.score %>");

// alert("Ajax!!")