$("section[id*=<%= @cupping_uniformity.sample.id %>]").find("form[id*=uniformity]").before('<section id="uniformity-show"><h1>Uniformity:</h1>Score: <%= @cupping_uniformity.score %><br><%= button_to 'Re-do', @cupping_uniformity, :method => :delete, :remote => true %></section>');

$("section[id*=<%= @cupping_uniformity.sample.id %>]").find("form[id*=uniformity]").hide();

$("section[id*=<%= @cupping_uniformity.sample.id %>]").find("section[id=total]").html("<h1>Total Score:</h1><%= @cupping_total_score.score %>");

// alert("Ajax!!")