$("section[id*=<%= @cupping_balance.sample.id %>]").find("form[id*=balance]").before('<section id="cupping_balance_<%= @cupping_balance.id %>"><%= button_to 'Re-do', @cupping_balance, :method => :delete, :remote => true, :class => "redo"%><h2># <%= @cupping_balance.sample.sample_number %></h2><p>Score: <%= @cupping_balance.score %></p></section>');

$("section[id*=<%= @cupping_balance.sample.id %>]").find("form[id*=balance]").hide();

$("section[id*=<%= @cupping_balance.sample.id %>]").find("section[id=total]").html("<h2>Total Score: <%= @cupping_total_score.score %></h2>");

// alert("Ajax!!")