$("section[id*=<%= @cupping_acidity.sample.id %>]").find("form[id*=acidity]").before('<section id="cupping_acidity_<%= @cupping_acidity.id %>"><%= button_to 'Re-do', @cupping_acidity, :method => :delete, :remote => true, :class => "redo"%><h2># <%= @cupping_acidity.sample.sample_number %></h2><p>Score: <%= @cupping_acidity.score %></p><% if @cupping_acidity.intensity.present? %><p>Intensity: <%= @cupping_acidity.intensity %></p><% end %></section>');
$("section[id*=<%= @cupping_acidity.sample.id %>]").find("form[id*=acidity]").hide();
$("section[id*=<%= @cupping_acidity.sample.id %>]").find("section[id=total]").html("<h2>Total Score: <%= @cupping_total_score.score %></h2>");



// alert("Ajax!!");
