if ($("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[class*=anotherflavor]").length > 0){
	
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id*=flavor]").html('<%= link_to 'Manage', cupping_flavors_path(:sample_id => @cupping_flavor.sample.id), :class => "redlink" %><h2># <%= @cupping_flavor.sample.sample_number %></h2><p>Score: <%= @cupping_flavor.sample.cupping_flavors.average(:score).to_i %></p><% if @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase.present? %><p>Notes: <%= @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase %></p><% end %>');
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id=total]").html("<h2>Total Score: <%= @cupping_total_score.score %></h2>");

}
else {

	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id*=flavor]").html('<%= link_to 'Manage', cupping_flavors_path(:sample_id => @cupping_flavor.sample.id), :class => "redlink" %><h2># <%= @cupping_flavor.sample.sample_number %></h2><p>Score: <%= @cupping_flavor.sample.cupping_flavors.average(:score).to_i %></p><% if @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase.present? %><p>Notes: <%= @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase %></p><% end %>');
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id=total]").html("<h2>Total Score: <%= @cupping_total_score.score %></h2>");
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("form[class*=cupping_flavor]").wrap('<section class="anotherflavor clearfix" />');
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("form[class*=cupping_flavor]").find(":input[type=submit]").attr("value","Record Another");	
}