if ($("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[class=another-flavor]").length > 0){
	
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id*=flavor]").html('<h1>Flavor:</h1>Score: <%= @cupping_flavor.sample.cupping_flavors.average(:score).to_i %><% if @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase.present? %><br>Notes: <%= @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase %><% end %><br><%= link_to 'Manage', cupping_flavors_path(:sample_id => @cupping_flavor.sample.id) %>');
	
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id=total]").html("<h1>Total Score:</h1><%= @cupping_total_score.score %>");
	
}

else {
	
	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id*=flavor]").html('<h1>Flavor: </h1>Score: <%= @cupping_flavor.sample.cupping_flavors.average(:score).to_i %><% if @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase.present? %><br>Notes: <%= @cupping_flavor.sample.cupping_flavors.map(&:notes).compact.reject(&:blank?).to_sentence.downcase %><% end %><br><%= link_to 'Manage', cupping_flavors_path(:sample_id => @cupping_flavor.sample.id) %>');

	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("form[id*=new_cupping_flavor]").wrap('<section class="another-flavor" />');

	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("span[id*=flavor-to-another]").html('<h1>Another Flavor:</h1>');

	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("form[id*=flavor]").find(":input[type=submit]").attr("value","Record another");

	$("section[id*=<%= @cupping_flavor.sample.id %>]").find("section[id=total]").html("<h1>Total Score:</h1> <%= @cupping_total_score.score %>");

}