<header>
	<h1>Flavors</h1>
	<%= link_to 'Back', totalupdate_path(:id => @cupping_total_score.id), :class => "button"  %>
</header>
<section class="cuppingattributes">
		<% @cupping_flavors.each do |flavor| %>
		  <section class="attributesample clearfix" id="<%=flavor.id%>">
			<%= button_to 'Remove', flavor, :method => :delete, :remote => true, :class => "redo" %>
		  Score: <%= flavor.score %>
			<br>Notes: <%= flavor.notes %>
			</section>
		<% end %>
</section>