<!DOCTYPE html>
<!--                                                                                                         
8888888888o   88888888888     d888888o. 88888888888888888 ,o888888o.   88888      88 8888888888o   
88888    `88. 88888         .8888:' `88.     88888      8888     `88.  88888      88 88888    `88. 
88888     `88 88888         8.8888.   Y8     88888    ,88888       `8. 88888      88 88888     `88 
88888     ,88 88888         `88888.          88888    888888           88888      88 88888     ,88 
88888.   ,88' 8888888888888  `88888.         88888    888888           88888      88 88888.   ,88' 
88888888888   88888           `88888.        88888    888888           88888      88 8888888888P'  
88888    `88. 88888            `8.8888.      88888    888888           88888      88 88888         
88888      88 88888        8b   `8.8888.     88888    `88888       .8' `8888     ,8P 88888         
88888    ,88' 88888        `8b.  ;8.8888     88888      8888     ,88'   8888   ,d8P  88888         
8888888888P   8888888888888 `Y8888P88P'      88888       `8888888P'      `Y88888P'   88888         
-->
<html>
	<head>
		<meta charset="utf-8">
	  <title>BestCup | Drink Confidently</title>
		<meta name="title" content="BestCup | Drink Confidently">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<% if notice %>
			<span id="notice">
				<%= notice %>
			</span>
		<% end %>
		<% if alert %>
			<span id="alert">
				<%= alert %>
			</span>
		<% end %>
		<%= yield %>
		<% if current_user %>
			<footer>
				<nav>
						<%= link_to 'Home', root_url %>
						<% if current_user.admin? %>
						<%= link_to "Users", users_url %>
						<%= link_to "Roasters", roasters_url %>
						<%= link_to "Producer Admins", producer_admins_url %>
						<%= link_to "Roastery Admins", roastery_admins_url %>
						<% end %>
						<%= link_to 'New Cupping', new_cupping_path %>
						<%= link_to "Cuppings", cuppings_url %>
						<%= link_to 'Producers', farms_url %>
						<%= link_to 'Roasteries', roasteries_url %>
						You are currently logged in with <%= current_user.email.camelcase %>
						<%= link_to 'Edit Your Info', edit_user_path(current_user.id) %>
						<%= link_to 'Log Out', logout_path %>
				</nav>
			</footer>
		<% end %>
	</body>
</html>
