<!DOCTYPE html>
<!--                                                                                                         
8888888888o   88888888888     d888888o. 88888888888888888 ,o888888o.   88888      88 8888888888o   
88888    `88. 88888         .8888:' `88.     88888      8888     `88.  88888      88 88888    `88. 
88888     `88 88888         8.8888.   Y8     88888    ,88888       `8. 88888      88 88888     `88 
88888     ,88 88888         `88888.          88888    888888           88888      88 88888     ,88 
88888.   ,88' 8888888888888  `88888.         88888    888888           88888      88 88888.   ,88' 
88888888888   88888           `88888.        88888    888888           88888      88 8888888888P'  
88888    `88. 88888            `8.8888.      88888    888888           88888      88 88888         
88888      88 88888        8b   `8.8888.     88888    `88888       .8' `8888     ,8P 88888         
88888    ,88' 88888        `8b.  ;8.8888     88888      8888     ,88'   8888   ,d8P  88888         
8888888888P   8888888888888 `Y8888P88P'      88888       `8888888P'      `Y88888P'   88888         
-->
<html>
	<head>
		<meta charset="utf-8">
	  <title>BestCup</title>
		<meta name="title" content="BestCup">
		<link rel="apple-touch-icon-precomposed" href="images/icon.png"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />  
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />  		
		<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
		<%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
		<% if current_user %>
			<footer>
				<nav>
						<div><%= link_to 'Home', root_url %></div>
						<% if current_user.admin? %>
							<div><%= link_to "Users", users_url %></div>
							<div><%= link_to "Roasters", roasters_url %></div>
							<div><%= link_to "Farm Admins", producer_admins_url %></div>
							<div><%= link_to "Roastery Admins", roastery_admins_url %></div>
						<% end %>
						<div><%= link_to 'New Cupping', new_cupping_path %></div>
						<div><%= link_to "Cuppings", cuppings_url %></div>
						<div><%= link_to 'Farms', farms_url %></div>
						<div><%= link_to 'Roasteries', roasteries_url %></div>
						<div><%= link_to 'About', about_path %></div>
						<div>
							<p>You are currently logged in with <br><%= current_user.email.camelcase %></p>
							<%= link_to 'Log Out', logout_path, :class => "logoutlink"  %>
							<%= link_to 'Account', edit_user_path(current_user.id), :class => "navbutton"  %>
						</div>
				</nav>
			</footer>
		<% end %>
	</body>
</html>
